@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Lobster&family=Montserrat+Alternates:ital,wght@0,100;0,300;1,200&family=Permanent+Marker&display=swap");
/*
font-family: 'Caveat', cursive;
font-family: 'Lobster', cursive;
font-family: 'Montserrat Alternates', sans-serif;
font-family: 'Permanent Marker', cursive;
*/

/*прелоудер*/
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #272727;
  z-index: 101;
  transition: 1s all;
  opacity: 1;
  visibility: visible;
}

.loader {
  width: 75px;
  height: 75px;
  border: 3px solid white;
  border-radius: 50%;
  border-top-color: #00c3ff;
  left: 50%;
  top: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  animation: 0.5s spin infinite linear;
}

.done {
  opacity: 0;
  visibility: hidden;
}

@keyframes spin {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

/*Главная страница*/
/*scrollabr*/

::-webkit-scrollbar {
  width: 5px;
  background-color: #272727;
  background-repeat: no-repeat;
  height: 100%;
  background-size: cover;
}

::-webkit-scrollbar-thumb {
  padding: 0 1px;
  background-color: rgb(0, 195, 255);
  border-radius: 3px;
}

body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  margin: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background-image: url(images/background.png);
}

header {
  z-index: 100;
  padding-top: 8px;
  width: 100%;
  height: 100px;
  vertical-align: middle;
  position: fixed;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  background-color: #171717;
  box-shadow: inset 0 -10px 5px -5px #00d1ff;
}

.logo {
  height: 100px;
  width: 355px;
  align-items: center;
  vertical-align: middle;
  display: flex;
}

.logoimg {
  height: 100px;
  width: 100px;
  margin-left: 10%;
}

nav a:hover {
  transition: color, filter;
  transition-duration: 0.2s;
  color: rgb(0, 195, 255);
  filter: drop-shadow(0px 0px 5px rgb(0, 195, 255));
}
nav {
  margin-top: 20px;
  margin-left:550px;
}

nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}

nav ul li {
  display: inline-block;
  background-color: #171717;
}

nav a {
  display: block;
  padding: 0 10px;
  color: #fff;
  font-size: 20px;
  line-height: 40px;
  text-decoration: none;
}

nav ul ul {
  display: none;
  position: absolute;
  top: 40px; 
}

nav ul li:hover > ul {
  display: inherit;
}

nav ul ul li {
  width: 350px;
  float: none;
  display: list-item;
  position: relative;
}

li > a:after {
  content: "▼";
}
li > a:only-child:after {
  content: "";
}

.b-main-block {
  position: absolute;
  width: 100%;
  height: 1000px;
  background-image: url(images/bblock1.png);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -10;
}

.b-bottom-block {
  position: absolute;
  width: 100%;
  height: 21px;
  top: 990px;
  background-image: url(images/bblockbottom.png);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -10;
  box-shadow: inset 0 -5px 5px rgb(0, 195, 255);
}

main {
  margin: auto;
  margin-top: 1020px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  padding: 0;
}
.notmain {
  margin-top: 150px;
}
/*Плюсы*/
.pluses {
  width: inherit;
  height: 350px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  margin-top: -200px;
  z-index: 50;
}

.plus {
  padding-top: 10px;
  width: 340px;
  height: 325px;
  background-color: #0c0c0c;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  border: 3px solid #54f5ff;
  box-shadow: 0 0 10px #54f5ff;
  margin: 0 15px;
}

.plusicon {
  margin-top: 10px;
  width: 75px;
  height: 75px;
  color: #54f5ff;
  filter: drop-shadow(0 0 1px #54f5ff);
}

.plus h2 {
  margin-top: 20px;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 24px;
  text-align: center;

  color: #adf0fe;

  text-shadow: 0px 0px 1px #54f5ff;
}

.plus p {
  margin-top: 40px;
  width: 330px;
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 22px;
  text-align: center;

  color: #ffffff;
}

h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 61px;
  text-align: center;
  color: #adf0fe;
  text-shadow: 0px 0px 4px #54f5ff;
  margin: 0;
  padding: 0;
}

.uslugi {
  width: 97%;
  height: 100%;
  margin-top: -130px;
  margin-bottom: 20px;
  padding-top: 140px;
  background: rgb(12, 12, 12, 0.9);
  border: 3px solid #54f5ff;
  box-shadow: 0px 0px 10px #54f5ff;
}

.techs {
  width: 97%;
  height: 741px;
  margin-bottom: 20px;
  background: rgb(12, 12, 12, 0.9);
  border: 3px solid #54f5ff;
  box-shadow: 0px 0px 10px #54f5ff;
  padding-top: 32px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.picblock {
  width: 516px;
  height: 684px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.bigpic {
  float: right;
  width: 516px;
  height: 450px;
  border: 2px solid #54f5ff;
  background-image: url(images/bigpic.png);
  background-size: cover;
  margin-bottom: 30px;
}

.smallpic1 {
  width: 243px;
  height: 204px;
  border: 2px solid #54f5ff;
  background-image: url(images/smallpic1.png);
  background-size: cover;
}

.smallpic2 {
  width: 243px;
  height: 204px;
  border: 2px solid #54f5ff;
  background-image: url(images/smallpic2.png);
  background-size: cover;
}

.techblock {
  width: 1206px;
  height: 684px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.techblock p {
  margin-top: 50px;
}

p {
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;
  text-align: justify;
  color: #ffffff;
}

.iconblock {
  margin-top: 50px;
  width: 1045px;
  height: 310px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.iconblock div {
  width: 130px;
  height: 130px;
  margin-right: 40px;
  background-size: cover;
  background-repeat: no-repeat;
}

.portfolio {
  width: 97%;
  height: 100%;
  margin-bottom: 20px;
  background: rgb(12, 12, 12, 0.9);
  border: 3px solid #54f5ff;
  box-shadow: 0px 0px 10px #54f5ff;
  padding-top: 32px;
}

.portfoliowrapper {
  width: 95%;
  height: 100%;
  margin-left: 45px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.port {
  margin-bottom: 30px;
  width: 580px;
  height: 440px;
  transition: opacity 0.5s;
}
.porttext {
  text-align: center;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.5);
  opacity: 0;
}
.porttext p {
  padding-top: 35%;
  text-align: center;
}
.port:hover .porttext {
  opacity: 1;
  transition: opacity 0.5s;
}
.portimg {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.more2 {
  margin-top: 40px;
  margin-bottom: 30px;
  width: 160px;
  height: 45px;
  border: 2px solid #adf0fe;
  background-color: rgba(0, 0, 0, 0);
  box-shadow: 0 0 5px #36d6ec;
  color: #adf0fe;
  text-shadow: 0 0 5px #36d6ec;
  font-size: 17px;
  font-weight: bold;
  transition: background-color, color;
  transition-duration: 0.2s;
}
.more3 {
  margin-top: 40px;
  margin-bottom: 30px;
  width: 160px;
  height: 45px;
  border: 2px solid #adf0fe;
  background-color: rgba(0, 0, 0, 0);
  box-shadow: 0 0 5px #36d6ec;
  color: #adf0fe;
  text-shadow: 0 0 5px #36d6ec;
  font-size: 17px;
  font-weight: bold;
  transition: background-color, color;
  transition-duration: 0.2s;
}
.team {
  width: 97%;
  height: 800px;
  margin-bottom: 20px;
  background: rgb(12, 12, 12, 0.9);
  border: 3px solid #54f5ff;
  box-shadow: 0px 0px 10px #54f5ff;
  padding-top: 32px;
}
.comwrapper {
  margin-top: 60px;
  width: 95%;
  height: 700px;
  margin-left: 45px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.comblock {
  width: 580px;
  height: 780px;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.teampic {
  width: 400px;
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
}
.teamname {
  font-size: 30px;
}
.teamjob {
  font-size: 25px;
  width: 480px;
  border-bottom: 3px solid #00d1ff;
}

.onas {
  width: 97%;
  height: 380px;
  margin-bottom: 20px;
  background: rgb(12, 12, 12, 0.9);
  border: 3px solid #54f5ff;
  box-shadow: 0px 0px 10px #54f5ff;
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.onasp {
  width: 1400px;
  font-size: 30px;
}
.order {
  width: 30%;
  height: 100%;
  margin-bottom: 20px;
  background: rgb(12, 12, 12, 0.9);
  border: 3px solid #54f5ff;
  box-shadow: 0px 0px 10px #54f5ff;
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}
.orderform {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
.orderform label {
  width: 70%;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-align: justify;
  color: #54f5ff;
  text-shadow: 0px 0px 4px #00d1ff;
}
.orderform input {
  width: 100%;
  text-align: start;
  background: #070707;
  border: 3px solid #54f5ff;
  box-shadow: 0px 0px 4px #00d1ff;
  color: #54f5ff;
}
.orderform select {
  background: #070707;
  border: 3px solid #54f5ff;
  box-shadow: 0px 0px 4px #00d1ff;
  color: #54f5ff;
}

footer {
  color: #54f5ff;
  padding: 0;
  width: 100%;
  font-size: 20px;
  font-weight: 900;
  text-align: center;
  height: 90px;
  background: #040404;
  border-top: 3px solid #54f5ff;
  box-shadow: 0px -4px 10px #00d1ff;
}

/*Админ страница*/

.backblock {
  position: absolute;
  background-image: url(images/background.png);
  width: 100%;
  height: 100%;
  z-index: -1;
}

.block1 {
  width: 400px;
  height: 430px;
  background-color: white;
  margin: 12.5% auto;
  border: 3px solid rgb(0, 195, 255);
  border-radius: 20px;
}

.block1 p {
  margin: 20px auto;
  width: 100%;
  height: 60px;
  font-size: 30px;
  text-align: center;
  font-family: Arial;
  padding-top: 50px;
  color: #0c0c0c;
}

.block1 form {
  width: 290px;
  margin-left: 60px;
}

.block1 input {
  border: 2px solid rgb(0, 195, 255);
  background-color: white;
  height: 20px;
  border-radius: 5px;
}

.block1 form p {
  margin-top: -70px;
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 20px;
}

.block1 form label {
  color: rgb(0, 195, 255);
  font-family: Arial;
  font-size: 15px;
}

.buttonnnn {
  width: 200px;
  height: 40px;
  background-color: rgb(0, 195, 255);
  border: 2px solid rgb(0, 195, 255);
  color: white;
  border-radius: 5px;
  font-weight: bold;
  transition: color, background-color;
  transition-duration: 0.1s;
  font-size: 15px;
}

.buttonnnn:hover {
  transition: color, background-color;
  transition-duration: 0.5s;
  color: rgb(71, 71, 71);
  background-color: rgb(160, 233, 255);
}

.buttonex {
  width: 50px;
  height: 50px;
  color: white;
  border-radius: 50px;
  border: 3px solid rgb(0, 195, 255);
  font-weight: bold;
  transition: color, background-color;
  transition-duration: 0.1s;
  margin-left: 10px;
  margin-top: 1px;
}

.buttonex img {
  margin-top: 5px;
  margin-left: 3px;
  width: 35px;
  height: 35px;
}

.buttonex:hover {
  transition: color, background-color;
  transition-duration: 0.5s;
  color: white;
  background-color: rgb(160, 233, 255);
}

.flexcontainer {
  margin-top: 30px;
  width: 100%;
  height: 50px;
  display: inline-flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin-left: 50px;
}

.logologin {
  width: 125px;
  height: 125px;
  border-radius: 190px;
  margin-top: -22%;
  margin-left: 34%;
  border: 3px solid rgb(0, 195, 255);
}

.logologin img {
  width: 120px;
  height: 120px;
  border-radius: 100px;
}

/*Сайдбар меню*/
.openbtn {
  position: absolute;
  top: 10px;
  left: -40px;
  font-size: 16px;
  margin-left: 50px;
  border: 2px solid #00c3ff;
  border-radius: 10px;
  background-color: white;
  transition: 0.4s;
}

.openbtn:hover {
  background-color: rgb(160, 233, 255);
}

.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(160, 233, 255);
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.1s;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: rgb(65, 65, 65);
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: rgb(0, 195, 255);
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/*Адапатация меню под смартфоны*/
@media screen and (max-width: 500px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

.adminmain {
  margin-left: 300px;
  margin-top: 25px;
  margin-right: 20px;
  padding-left: 30px;
  width: 82%;
  height: 100%;
  margin-bottom: 20px;
  background: rgb(12, 12, 12, 0.9);
  border: 3px solid #54f5ff;
  box-shadow: 0px 0px 10px #54f5ff;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}

select {
  width: 100%;
  text-decoration: none;
  font-size: 20px;
  padding-left: 15px;
  vertical-align: middle;
  color: rgb(0, 0, 0);
  text-align: start;
  border-radius: 4px;
  background-color: #ffffff;
  line-height: 22px;
  height: 40px;
  box-sizing: border-box;
  border: 3px solid #00c3ff;
  margin-right: 30px;
}

.btnform {
  margin-top: 30px;
  margin-bottom: 60px;
  display: flex;
}

h3 {
  margin-top: -10px;
  align-self: left;
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 48px;
  text-align: center;
  color: white;
}

.adminbtn {
  width: 248px;
  height: 62px;
  background: #008dd2;
  font-size: 30px;
  color: white;
  margin-bottom: 80px;
}

.slidercard {
  box-sizing: border-box;
  width: 1532px;
  height: 662px;
  background: #0c0c0c;
  border: 3px solid #36d6ec;
  box-shadow: 0px 0px 10px #00d1ff;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.leftslidercardblock {
  width: 880px;
  height: 656px;
  background: #ffffff;
}

.rightslidercardblock {
  width: 558px;
  height: 100%;
  margin-right: 40px;
}
.addform {
  width: 100%;
  height: 100%;
  text-align: center;
}
.centername {
  margin-top: 200px;
}
.inputprice {
  margin-top: 100px;
}
input {
  text-decoration: none;
  font-size: 20px;
  vertical-align: middle;
  color: rgb(0, 0, 0);
  text-align: center;
  border-radius: 4px;
  background-color: #ffffff;
  line-height: 22px;
  height: 40px;
  padding: 10px 20px;
  box-sizing: border-box;
  border: 3px solid #00c3ff;
  transition: background-color 0.2s;
}
.inputfile {
  margin-top: 30px;
}
button {
  cursor: pointer;
}
.inputfile span {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  font-size: 20px;
  vertical-align: middle;
  color: rgb(255 255 255);
  text-align: center;
  border-radius: 4px;
  background-color: #00c3ff;
  line-height: 22px;
  height: 40px;
  padding: 10px 20px;
  box-sizing: border-box;
  border: none;
  transition: background-color 0.2s;
}
.inputfile input[type="file"] {
  position: absolute;
  z-index: -1;
  opacity: 0;
  display: block;
  width: 0;
  height: 0;
}

.inputfile input[type="file"]:focus + span {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
.inputfile:hover span {
  background-color: #00d1ff;
}
.inputfile:active span {
  background-color: #008dd2;
}

.descsmall {
  font-size: 25px;
}
.descbig {
  margin-left: -40px;
  font-size: 25px;
  border: 3px solid #00c3ff;
}
.send {
  width: 248px;
  height: 72px;
  background: #008dd2;
  font-size: 30px;
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
}
.regblock {
  width: 400px;
  height: 430px;
  background-color: white;
  margin: 12.5% auto;
  border: 3px solid rgb(0, 195, 255);
  border-radius: 20px;
  box-shadow: 0 0 1000px white;
}

.regblock p {
  margin: 20px auto;
  width: 100%;
  height: 60px;
  color: #330066;
  font-size: 30px;
  text-align: center;
  font-family: Arial;
  padding-top: 50px;
}
.regblock 
.regblock form {
  width: 290px;
  margin-left: 110px;
}

.regblock input {
  border: 2px solid rgb(0, 195, 255);
  background-color: white;
  height: 20px;
  border-radius: 5px;
}

.regblock form p {
  margin-top: -70px;
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 20px;
}

.regblock form label {
  color: rgb(0, 195, 255);
  font-family: Arial;
  font-size: 15px;
}

/************************************************************/

@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700");
*,
*:before,
*:after {
  box-sizing: border-box;
}

.table {
  width: 95%;
  border: 1px solid #00d1ff;
  margin-bottom: 40px;
  margin-top: 40px;
  margin-left: -25px;
}
.table-header {
  display: flex;
  width: 100%;
  background: #000;
  padding: 18px 0;
}
.table-row {
  display: flex;
  width: 100%;
  padding: 18px 0;
}
.table-row:nth-of-type(odd) {
  background: #00d1ff;
}
.table-row:nth-of-type(even) {
  color: #00d1ff;
}
.table-data,
.header__item {
  flex: 1 1 20%;
  text-align: center;
}
.header__item {
  text-transform: uppercase;
  color: #00d1ff;
}
.filter__link {
  color: #00d1ff;
  text-decoration: none;
  position: relative;
  display: inline-block;
  padding-left: 24px;
  padding-right: 24px;
}
.filter__link::after {
  content: "";
  position: absolute;
  right: -18px;
  color: white;
  font-size: 12px;
  top: 50%;
  transform: translateY(-50%);
}
.filter__link.desc::after {
  content: "(убыв.)";
}
.filter__link.asc::after {
  content: "(возр.)";
}

/**/

swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

swiper-slide {
  background-position: center;
  background-size: cover;
  width: 500px;
  height: 550px;
}

swiper-slide img {
  display: block;
  width: 130px;
  height: 130px;
}

.gallery_list {
  display: flex;
  margin: auto;
  justify-content: center;
}

.gallery_item {
  position: relative;
  max-width: 500px;
  height: 550px;
  background-color: #0c0c0c;
  border: 2px solid #adf0fe;
  align-items: center;
  box-shadow: 0 0 10px #36d6ec;
}

.gallery_item img {
  max-width: 130px;
  height: auto;
  margin-top: 30px;
}

.gallery_item .textslider {
  margin: 50px auto;
  width: 440px;
  height: auto;
}

.gallery_item .titleslider {
  color: #adf0fe;
  padding-bottom: 30px;
  text-align: center;
  font-size: 25px;
  text-shadow: 0 0 5px #36d6ec;
}

.gallery_item .textslider {
  padding: 0px 0;
  text-align: center;
}

.gallery_item .price {
  color: #adf0fe;
  font-size: 25px;
  font-weight: bold;
  text-shadow: 0 0 5px #36d6ec;
}

.more {
  margin-top: 30px;
  width: 160px;
  height: 45px;
  border: 2px solid #adf0fe;
  background-color: rgba(0, 0, 0, 0);
  box-shadow: 0 0 5px #36d6ec;
  color: #adf0fe;
  text-shadow: 0 0 5px #36d6ec;
  font-size: 17px;
  font-weight: bold;
  transition: background-color, color;
  transition-duration: 0.2s;
}

.gallery_item .more:hover {
  background-color: #adf0fe;
  color: black;
  transition: background-color, color;
  transition-duration: 0.2s;
}
.usluga1 {
    width: 1620px;
    height: 620px;
    margin: 130px auto;
    padding-top: 30px;
    background: rgb(12, 12, 12, 0.9);
    border: 3px solid #54F5FF;
    box-shadow: 0px 0px 10px #54F5FF;
}

.usluga1 h2 {

    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    text-align: center;
    color: #ADF0FE;
    text-shadow: 0px 0px 4px #54F5FF;
    margin: 0;
    padding: 0;

}

.usluga1 p {
    padding-top: 10px;
    margin: auto;
    color: white;
    text-align: center;
    font-size: 25px;
}

.usluga1flex {
    width: 1570px;
    height: 580px;
    display: flex;
}

.usluga1left {
    width: 729px;
    height: 410px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
    margin-left: 50px;
}

.usluga1right p {
    display: block;
    margin-top: 60px;
    margin-left: 30px;
    text-align-last: justify;
}

.usluga1right span {
    text-align: left;
    text-align-last: left;
    float: left;
}

.usluga1right b {
    color: #ADF0FE;
    text-shadow: 0px 0px 4px #54F5FF;
}
@media screen and (max-width:500px){
    html,body{
        overflow-x: hidden;
        margin: auto;
    }
    header{
        width: 100%;
    }
    .b-main-block {
        position: absolute;
        top: 115px;
        width: 100%;
        height: 267px;
        background-image: url(images/bblock1.png);
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -10;
    }
    .b-bottom-block {
        position: absolute;
        width: 100%;
        height: 12px;
        top:370px;
        background-image: url(images/bblockbottom.png);
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -10;
        box-shadow: inset 0 -5px 5px rgb(0, 195, 255);
    }
    .pluses {
        width: inherit;
        height: 350px;
        display: none;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        margin-top: -200px;
        z-index: 50;
    
    }
    .uslugi {
        position: relative;
        width: 100%;
        height: 667px;
        top:-500px;
        margin-top: -130px;
        margin-bottom: 20px;
        padding-top: 10px;
        background: rgb(12, 12, 12, 0.9);
        border: 0px solid #54F5FF;
        border-top: 3px solid #54F5FF;
        border-bottom: 3px solid #54F5FF;
        box-shadow: 0px 0px 10px #54F5FF;
    }
    /*Технологии*/
    .techs {
        width: 100%;
        height: 741px;
        margin-top: -503px;
        background: rgb(12, 12, 12, 0.9);
        border: 0px solid #54F5FF;
        border-top: 3px solid #54F5FF;
        border-bottom: 3px solid #54F5FF;
        box-shadow: 0px 0px 10px #54F5FF;
        padding-top: 32px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
    }
    h2{
        position: absolute;
        width: 349.78px;
        height: 29px;
        left: 80.25px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        color: #ADF0FE;
        text-shadow: 0px 0px 4px #54F5FF;
            }
    .picblock {
        position: relative;
        display: block;
        left: 110px;
        top: 58px;
        width: 361.03px;
        height: 247px;
    }
    
    .bigpic {
        position: relative;
        width: 210.99px;
        height: 247px;
        border: 2px solid #54F5FF;
        background-image: url(images/bigpic.png);
        background-size: cover;
        
    }
    
    .smallpic1 {
        position: relative;
        left:220px;
        width: 132.22px;
        height: 118px;
        border: 2px solid #54F5FF;
        background-image: url(images/smallpic1.png);
        background-size: cover;
    }
    
    .smallpic2 {
        position: relative;
        left:220px;
        margin-top: 7px;
        width: 131.28px;
        height: 118px;
        border: 2px solid #54F5FF;
        background-image: url(images/smallpic2.png);
        background-size: cover;
    }
    .techtext{
       position: absolute;
       top: 266px;
       left: 3px;
    }
    .techblock h2{
        position: relative;
        left: 0.25px;

    }
    .techblock {
        position: relative;
        left: -105px;
        width: 355px;
        height: 212px;
        display: block;
        
    }
    
    
    p {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        text-align: justify;
    }
    #icon1{
        width: 48.37px;
        height: 49.68px;
    }
    #icon2{
        width: 48.37px;
        height: 49.68px;
    }
    #icon3{
        width: 48.37px;
        height: 49.68px;
    }
    #icon4{
        width: 48.37px;
        height: 49.68px;
    }#icon5{
        width: 48.37px;
        height: 49.68px;
    }
    #icon6{
        width: 48.37px;
        height: 49.68px;
    }
    #icon7{
        width: 48.37px;
        height: 49.68px;
    }
    #icon8{
        width: 48.37px;
        height: 49.68px;
    }
    #icon9{
        width: 48.37px;
        height: 49.68px;
    }
    #icon10{
        width: 48.37px;
        height: 49.68px;
    }
    #icon11{
        width: 48.37px;
        height: 49.68px;
    }
    #icon12{
        width: 48.37px;
        height: 49.68px;
    }
    .iconblock {
        position: relative;
        left: -10px;
        top:442px;
        width: 423px;
        height: 127px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    
    .iconblock div {
        width: 130px;
        height: 130px;
        margin-right: 40px;
        background-size: cover;
        background-repeat: no-repeat;
    }
    /*Портфолио*/
    .portfolio {
        width: 100%;
        height: 1965px;
        margin-bottom: 20px;
        background: rgb(12, 12, 12, 0.9);
        border: 0px solid #54F5FF;
        border-top: 3px solid #54F5FF;
        border-bottom: 3px solid #54F5FF;
        box-shadow: 0px 0px 10px #54F5FF;
        padding-top: 32px;
    }
    
    .portfoliowrapper{
        width: 95%;
        height: 910px;
        margin-top: 83px;
        margin-left:75px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .port{
        width: 350px;
        height: 255px;
        margin-bottom: 37px;
        transition: opacity .5s;
    }
    .porttext{
        text-align: center;
        vertical-align: middle;
        width: 100%;
        height: 100%;
        background-color: rgb(0, 0, 0, .5);
        opacity: 0;
    }
    .porttext p{
        padding-top: 35%;
        text-align: center;
    }
    .port:hover .porttext{
        opacity: 1;
        transition: opacity .5s;
    }
    .portimg{
        width: 100%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .more2 {
        margin-top: 886px;
        /* margin-bottom: 30px; */
        width: 160px;
        height: 45px;
        border: 2px solid #ADF0FE;
        background-color: rgba(0, 0, 0, 0);
        box-shadow: 0 0 5px #36D6EC;
        color: #ADF0FE;
        text-shadow: 0 0 5px #36D6EC;
        font-size: 17px;
        font-weight: bold;
        transition: background-color, color;
        transition-duration: .2s;
    } 
    .team{
        width: 100%;
        height: 1769px;
        margin-bottom: 20px;
        background: rgb(12, 12, 12, 0.9);
        border-top:3px solid #54F5FF;
        border-bottom:3px solid #54F5FF;
        border: 0px solid #54F5FF;
        box-shadow: 0px 0px 10px #54F5FF;
        padding-top: 32px;
    }
    .comwrapper{
        margin-top:60px;
        width: 100%;
        height: 700px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        
    }
    .comblock{
        position: relative;
        margin-bottom: -210px;
        left: -45px;
        width: 100%;
        height: 780px;
        text-align: center;
        display: block;
    }
    .teampic{
        position: relative;
        left:100px;
        width: 300px;
        height: 341px;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .teamname{
        position: relative;
        top:14px;
        font-size: 25px;
    }
    .teamjob{
        margin-top: 15px;
        font-size: 25px;
        width:480px;
        border-bottom: 0px solid #00D1FF;
    }
    .teamquote{
        font-size: 25px;
        width: 450px;
        margin-left: 25px;
    }
    .onas{
        width: 100%;
        height: 600px;
        margin-bottom: 20px;
        background: rgb(12, 12, 12, 0.9);
        border-top: 3px solid #54F5FF;
        border-bottom: 3px solid #54F5FF;
        border: 0px solid #54F5FF;
        box-shadow: 0px 0px 10px #54F5FF;
        padding-top: 32px;
        
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .onasp{
        margin-top: 45px;
        text-align: center;
        width: 75%;
        font-size: 25px;
    }
    .order{
        width: 100%;
        height: 650px;
        margin-bottom: 20px;
        background: rgb(12, 12, 12, 0.9);
        border: 3px solid #54F5FF;
        box-shadow: 0px 0px 10px #54F5FF;
        padding-top: 32px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 50px;
    }
    .orderform{
        margin-top: 45px;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
    }
    .orderform label{
        width: 70%;
        margin-bottom: 15px;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        text-align: justify;
        color: #54F5FF;
        text-shadow: 0px 0px 4px #00D1FF;
        
    }
    .orderform input{
        width: 100%;
        text-align: start;
        background: #070707;
        border: 3px solid #54F5FF;
        box-shadow: 0px 0px 4px #00D1FF;
        color:#54F5FF;
    }
    .orderform select{
        background: #070707;
        border: 3px solid #54F5FF;
        box-shadow: 0px 0px 4px #00D1FF;
        color:#54F5FF;
    }
    .more3 {
        margin-top: 15px;
        /* margin-bottom: 30px; */
        width: 160px;
        height: 45px;
        border: 2px solid #ADF0FE;
        background-color: rgba(0, 0, 0, 0);
        box-shadow: 0 0 5px #36D6EC;
        color: #ADF0FE;
        text-shadow: 0 0 5px #36D6EC;
        font-size: 17px;
        font-weight: bold;
        transition: background-color, color;
        transition-duration: .2s;
    } 
    
    footer {
        color:#54F5FF;
        padding: 0;
        width: 100%;
        font-size: 20px;
        font-weight: 900;
        text-align: center;
        height: 90px;
        background: #040404;
        border-top: 3px solid #54F5FF;
        box-shadow: 0px -4px 10px #00D1FF;
    }
    
} 

.burgermenu {
  width: 70px;
  height: 70px;
  border:0;
  background-color: rgb(0, 0, 0, 0);
  cursor: pointer;
  display: none;
}

.sidenav1 {
  height: 100%;
  width: 500px;
  margin-left: -500px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(160, 233, 255);
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.1s;
}

.sidenav1 a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: rgb(65, 65, 65);
  display: block;
  transition: 0.3s;
}

.sidenav1 a:hover {
  color: rgb(0, 195, 255);
}

.sidenav1 .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-width: 500px) {
  .burgermenu{
      display: block;
  }
  nav{
    display: none;
  }

}
@media screen and (max-width: 500px){
  ::-webkit-scrollbar {
      width: 5px;
      background-color: #272727;
      background-repeat: no-repeat;
      height: 100%;
      background-size: cover;
  }
  
  ::-webkit-scrollbar-thumb {
      padding: 0 1px;
      background-color: rgb(0, 195, 255);
      border-radius: 3px;
  }
  
  body { 
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      margin: 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      background-image: url(images/background.png);
  }
  
  
  header {
      z-index: 100;
      padding-top: 15px;
      max-width: 500px;
      height: 100px;
      vertical-align: middle;
      position: fixed;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      background-color: #171717;
      box-shadow: inset 0 -10px 5px -5px #00D1FF;
      
  }
  
  .logo {
      height: 100px;
      width: 355px;
      align-items: center;
      vertical-align: middle;
      display: flex;
  }
  
  .logoimg {
      height: 100px;
      width: 100px;
      margin-left: 10%;
  }
  
  nav a:hover {
      transition: color, filter;
      transition-duration: .2s;
      color: rgb(0, 195, 255);
      filter: drop-shadow(0px 0px 5px rgb(0, 195, 255));
  }
  nav {
      margin: 20px 0;
  
  }
  
  nav ul {
      padding: 0;
    margin: 0;
      list-style: none;
      position: relative;
      }
      
  nav ul li {
      display:inline-block;
      background-color: #171717;
      }
  
  nav a {
      display:block;
      padding:0 10px;	
      color:#FFF;
      font-size:20px;
      line-height: 40px;
      text-decoration:none;
  }
  
  nav ul ul {
      display: none;
      position: absolute; 
      top: 40px;
  }
      

  nav ul li:hover > ul {
      display:inherit;
  }
      
  nav ul ul li {
      width:170px;
      float:none;
      display:list-item;
      position: relative;
  }
  
      
  li > a:after { content:  '▼'; }
  li > a:only-child:after { content: ''; }
  
  
  .usluga1 {
      max-width: 500px;
      height: 750px;
      margin: 130px auto;
      padding-top: 30px;
      background: rgb(12, 12, 12, 0.9);
      border-top: 3px solid #54F5FF;
      border-bottom: 3px solid #54F5FF;
      border-left: 0px;
      border-right: 0px;
      box-shadow: 0px 0px 10px #54F5FF;
  }
  
  .usluga1 h2 {
  
      font-style: normal;
      font-weight: 700;
      font-size: 25px;
      text-align: center;
      color: #ADF0FE;
      text-shadow: 0px 0px 4px #54F5FF;
      margin: 0;
      padding: 0;
  
  }
  
  .usluga1 p {
      padding-top: 10px;
      margin: auto;
      color: white;
      text-align: center;
      font-size: 20px;
  }
  
  .usluga1flex {
      width: 1570px;
      height: 580px;
      display: flex;
  }
  
  .usluga1left {
      width: 200px;
      height: 410px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-top: 30px;
      margin-left: 35px;
  }
  
  .usluga1right p {
      display: block;
      max-width: 400px;
      margin-top: 300px;
      margin-left: -200px;
      text-align-last: justify;
  }
  
  .usluga1right span {
      text-align: left;
      text-align-last: left;
      float: left;
  }
  
  .usluga1right b {
      color: #ADF0FE;
      text-shadow: 0px 0px 4px #54F5FF;
  }
  img{
      max-width: 400px;
      max-height: 250px;
  }
}